name: ci

on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm install
      - run: npm pack
      - uses: actions/upload-artifact@v6
        with:
          name: package
          path: '*.tgz'

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm install
      - run: npx prettier --check .

  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm install
      - run: npx tsc

  release:
    runs-on: ubuntu-latest
    needs: [pack, prettier, tsc]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - uses: actions/download-artifact@v7
        with: { name: package }
      - run: npm publish *.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
